*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul, li {
    list-style: none;
}

.nav img{
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;

}
.nav img:hover{
    height: 70px;
    border: 1px solid #fc1a04;
    transform: rotate(-360deg);
}
.shaking{
    animation: shake 2s ease 0s infinite;
}

h2{   
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
}
h2:hover{
    color: #fc1a04;
}

.imgs img{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.imgs img:hover{
    width: 95%;
    
}

.option button {
    display: inline-block;
    background: #0e0e0e;
    color: #fff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: none;
    margin-bottom: 5px;
  }
  
.option button:hover {
    background: #0e0e0e;
    color: #fc1a04;
    padding: 25px;
  }
.option button:active {
    background-color: #fc1a04;
    color: #fff;
    transform: translateY(4px);
    border-radius: 5px;
  }

  i {
    display: inline-block;
    background: #fc1a04;
    color: #fff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding: 10px;
  }
  
  i:hover {
    background: #fff;
    color: #fc1a04;
    padding: 15px;
    font-size: x-large;
  }

.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 100px 200px auto 100px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav"
      "option"
      "imgs"
      "footer"; 
  }
  .nav { 
    grid-area: nav; 
    background-color: #fff;
    }
  .option { 
    grid-area: option; 
    background-color: #0e0e0e;
    color:  #fff;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    }
  .imgs { 
    grid-area: imgs; 
    background-color:  #fff ;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .footer { 
    grid-area: footer; 
    background-color: #fc1a04;
    color: #fff;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 10px;
    }

@media (min-width: 576px) { 
    .container {
        grid-template-columns: 0.5fr 1.5fr; 
        grid-template-rows: 120px 600px 120px; 
        grid-template-areas: 
          "nav nav"
          "option imgs"
          "footer footer"; 
      }
      a{
        padding: 8px 16px;
      }
      .imgs{
        border-top: 2px solid #fc1a04;
        height: auto;
      }
}

@media (min-width: 992px) { 
    .container {
        grid-template-areas: 
          "option nav"
          "option imgs"
          "footer imgs"; 
      }
      
}

@keyframes shake {
    from    {transform: rotate(0deg);}
    4%      {transform: rotate(.5deg);}
    12.5%   {transform: rotate(-.5deg);}
    21%     {transform: rotate(.5deg);}
    29%     {transform: rotate(-.5deg);}
    37.5%   {transform: rotate(.5deg);}
    46%     {transform: rotate(-.5deg);}
    50%,to {transform: rotate(0deg);}
}



